<div id="narrow">
        <li *ngFor="let data of response">
    <mat-card>
            <mat-icon>store</mat-icon>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
        <mat-card-title>Name: {{ data.name }}</mat-card-title>
        <mat-card-content>
                Rating : {{ data.rating }}
        </mat-card-content>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-actions>
          <button mat-button>Get Direction</button>
        </mat-card-actions>
        <mat-card-footer>
          footer
        </mat-card-footer>
      </mat-card>
        </li>
</div>
  
  